<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lin.linagent.mapper.ChatMemoryMapper">

    <resultMap id="BaseResultMap" type="com.lin.linagent.domain.ChatMemory">
            <id property="id" column="id" />
            <result property="conversationId" column="conversation_id" />
            <result property="content" column="content" />
            <result property="messageType" column="message_type" />
            <result property="createTime" column="create_time" />
            <result property="userId" column="user_id" />
            <result property="metadata" column="metadata"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,conversation_id,content,message_type,create_time,user_id,metadata
    </sql>
</mapper>
